<div class="container-fluid">
    <h3>Step 4: Done</h3>

    <p>Congrats! You're all set to roll out your policy in report-only mode.</p>

    <p>Apply the following HTTP header to your webserver:</p>

    <strong>Content-Security-Policy-Report-Only</strong>
    <div *ngIf="recommendations">
        <app-policy-view [parsedPolicy]="recommendations.recommendedPolicyParsed">
        </app-policy-view>
    </div>

    <p>Here's a <a href="https://docs.csper.io/how-to-roll-out-content-security-policy">guide with additional
            content.</a></p>

    <button (click)="goToProject()" class="btn btn-primary">Detailed Results</button>
</div>