<div class="container-fluid pt-2">
    <a [routerLink]="['/wizard', 'deploy']" class="btn btn-primary float-right">Next</a>

    <h5>Inline Helper</h5>
    <p>For content-security-policy to work correctly, there shouldn't be any inline resources. Here is all the inline
        resources found that need to be moved to their own file. <a target="_blank"
            href="https://csper.io/docs/guide-removing-inline">More Info</a></p>
    <div *ngIf="reports.length">

        <div *ngFor="let currentDirective of directives">
            <div *ngIf="(reports | directive:currentDirective).length">
                <h5>{{currentDirective}}</h5>

                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <th>Location</th>
                            <th>Line</th>
                            <th>Column</th>
                            <th>Script Sample</th>
                        </tr>

                        <tr *ngFor="let report of (reports | directive:currentDirective); index as reportIndex">

                            <td><a target="_blank"
                                    href="{{report.documentURI}}">{{ (report.documentURI.length>70)? (report.documentURI | slice:0:70)+'..':(report.documentURI) }}</a>
                                <br> <a target="_blank" href="{{report.sourceFile}}">{{report.sourceFile}}</a>
                            </td>


                            <!-- <td>{{report.documentURI}}</td> -->
                            <td>{{report.lineNumber}}</td>
                            <td>{{report.columnNumber}}</td>
                            <td>{{report.scriptSample}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loaded && reports.length == 0" class="text-center w-100">
        <p class="text-center">No inline reports!</p>
    </div>
</div>