<header>
  <nav class="navbar navbar-expand navbar-light fixed-top">
    <a class=" navbar-brand" href="#">
      <img src="/assets/csper.webp" width="30" height="30" alt="logo"> Csper Builder
    </a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="showNav = false" class="nav-link text-dark" routerLink="/">New</a>
      </li>
      <li class="nav-item">
        <a (click)="showNav = false" class="nav-link text-dark" routerLink="/manual">Manual</a>
      </li>

    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a (click)="showNav = false" class="nav-link text-dark" routerLink="/pricing">About</a>
      </li>
    </ul> -->

  </nav>
</header>
<div style="padding-top: 65px"></div>
<router-outlet></router-outlet>