#controls {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    height: 30px; 
    width: 150px; 
    opacity: .3
}

#controls:hover, #controls:active  {
    opacity: 1
}

.policy-view-button{
    width: 50px;  font-size: 8px
}

.directive-indent {
    text-indent:-1.5em;
    padding-left: 1.5em;
}