<div class="position-relative">
    <div class="wizard-border">
    </div>
    <div class="row text-center">
        <div class="col-3">
            <button class="wizard-button btn btn-sm" [class.btn-light]="step != 'start'"
                [class.btn-primary]="step=='start'" [routerLink]=" ['/wizard', 'start' ]">1. Start</button>
        </div>
        <div class="col-3">
            <button class="wizard-button btn btn-sm" [class.btn-light]="step != 'collect'"
                [class.btn-primary]="step=='collect'" [routerLink]="['/wizard', 'collect']"
                [disabled]="!isKnownDomain">2. Collect</button>
        </div>
        <div class="col-3" class="col-3">
            <button class="wizard-button btn btn-sm" [class.btn-light]="step != 'inline'"
                [class.btn-primary]="step=='inline'" [routerLink]="['/wizard', 'inline']" [disabled]="!isKnownDomain">3.
                Inline</button>
        </div>
        <div class="col-3" class="col-3">
            <button class="wizard-button btn btn-sm" [class.btn-light]="step != 'deploy'"
                [class.btn-primary]="step=='deploy'" [routerLink]="['/wizard', 'deploy']" [disabled]="!isKnownDomain">4.
                Deploy</button>
        </div>
    </div>
</div>

<router-outlet>
</router-outlet>