<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-6">
            <h5>Collect Reports</h5>
            <p>CSP is now active, visit some pages on your website and then come back to the extension.</p>
            <app-stat [value]="overview.totalReports" title="Total Reports"></app-stat>
        </div>

        <div class="col-6">
            <a [routerLink]="['/wizard', 'inline']" class="btn btn-primary float-right">Next</a>

            <h5>Realtime</h5>
            <app-realtime-chart *ngIf="projectID && projectID.length > 0"
                (newReport)="overview.totalReports=overview.totalReports+1" [projectID]="projectID">
            </app-realtime-chart>
        </div>
    </div>

    <div class="clearfix pt-2">
        <button class="float-right btn btn-secondary btn-sm" (click)="refreshRecommendations()">Regenerate</button>
        <h5>Temporary Generated Policy</h5>
    </div>
    <div *ngIf="recommendations">
        <app-policy-view [parsedPolicy]="recommendations.recommendedPolicyParsed">
        </app-policy-view>
    </div>
</div>