<div class="btn-group btn-group-toggle float-right btn-sm" data-toggle="buttons" style="height: 30px; width: 150px"
    *ngIf="!hideBucketButtons">
    <label class="btn btn-secondary btn-sm" [class.active]="bucket == 'minute'" (click)="bucket = 'minute'; loadData()"
        style="width: 50px; font-size: 8px">
        <input type="radio" name="options" value="small" checked>Hour
    </label>
    <label class="btn btn-secondary btn-sm" [class.active]="bucket == 'hour'" (click)="bucket = 'hour'; loadData()"
        style="width: 50px;  font-size: 8px">
        <input type="radio" name="options"> Day
    </label>
    <label class="btn btn-secondary btn-sm" [class.active]="bucket == 'day'" (click)="bucket = 'day'; loadData()"
        style="width: 50px;  font-size: 8px">
        <input type="radio" name="options"> Month
    </label>
</div>

<div *ngIf="chartData.length">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" chartType="line"></canvas>
</div>

<div *ngIf="!chartData || !chartData.length" class="text-center">
    <p>No data in specified chart range.</p>
</div>