<div class="container-fluid pt-2">

    <div class="row h-100">
        <div class="col-md-6 h-100">
            <div class="justify-content-center align-self-center pt-4">

                <h3 class="text-center">Welcome!</h3>

                <p>This extension will help you through the process of building your very own Content-Security-Policy!
                </p>

                <p>Are you ready to build a policy for: <strong>{{domain}}</strong>?</p>
                <div class="text-center">
                    <button class="btn btn-primary" (click)="newProject()">Start Building Policy</button>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <img src="/assets/csper.webp" class="img-fluid">
        </div>
    </div>
</div>